@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* .header {
    display: flex;
} */

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2em;
    background-color: #334;
    /* box-shadow: 0px 3px 7px 5px #000000; */
    height: 6vh;
    align-items: center;
    margin-bottom: 30px;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

.navbar li a:hover {
    color: rgb(219, 165, 165);
}

.goshin {
    display: block;
    margin: auto;
    width: 90%;
}

/* h1 {
    font-size: 30px;
} */

p {
    margin: 20px;
    text-align: justify;
}

.map {
    width: 100%;
    height: 600px;
}

@media (min-width: 768px) {
    
    /* .header {
        max-width: 50%;
    } */
    
    .goshin {
        width: 40%;
    }
}

@media (min-width: 1024px) {
    
.goshin {
    width: 30%;
    }
}

@media (min-width: 1530px) {
    .goshin {
        width: 20%;
    }
}